      <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Kampus RoR</h5>
        <p class="grey-text text-lighten-4">Platform belajar Ruby on Rails terbaik untuk meningkatkan keahlian pemrograman Anda dalam membangun aplikasi web modern.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/tarakreasi" target="_blank">GitHub</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/tarakreasi" target="_blank">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://instagram.com/tarakreasi" target="_blank">Instagram</a></li>
          <li><%= link_to "Admin Panel", admin_root_path, class: "grey-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © <%= Time.now.year %> Kampus RoR - Belajar Ruby on Rails
    </div>
  </div>
</footer>
